* {
    margin: 0;
    padding: 0;
}

.wrapper {
/* margin: auto; */
}

.list {
    padding: 20px;
}

.menu {
    display: flex;
    flex-wrap: wrap;

}

.menu_item {
    margin: 15px;
    padding: 40px;
    list-style: none;
    background-image: linear-gradient(to bottom left, #0B486B, #F56217);
}

.link {
    color: rgb(235, 205, 207);
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    
    
}