* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 900px;
    margin: auto;
    background-color: aqua;
}

.list {
    list-style: none;
    
    
}

.paper {
    display: inline-block;
    margin-left: 100px;
    
}

.paper-link {
    /* background-color: blueviolet; */
    display: inline-block;
    width: 100px;
    color: #444;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
}
.paper-link:hover {
    color: rgb(0, 255, 149);
}
mail {
    font-size: 0;
}

.unit {
font-size: 16px;
display: inline-block;
width: 421px;
background-color: bisque;


}

.img-point-wrp {
    width: 421px;
    margin-left: 55px;
}

.img-point {
    /* margin-left: 55px; */
}

.text {

}

.text-heading {

}