* {
    margin: 0;
    padding: 0;
}
:root {
    --accent: #f38181;
    --col: 80px;
    --gap: 20px;
    --column: calc(var(--col) + var(--gap));
}

.container {
    width: 1200px;
    margin: auto;
    /* background-color: rgb(121, 60, 60); */
}
/* header   start */
.wrapper {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: baseline;
    align-items: flex-end;
    /* background-color: rgb(123, 172, 155); */
    margin-bottom: 128px;
}
.logo {
    display: flex;
    width: 710px;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(88, 140, 156); */
}
.logo-img {
    width: 86px;
    height: 23px;
    cursor: pointer;
    /* background-color: rgb(70, 82, 18); */
}
.nav {
    display: flex;
    width: 490px;
    list-style: none;
    justify-content: space-between;
    cursor: pointer;
    /* background-color: rgb(55, 145, 161); */
}
.nav_name {
    height: 14px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
    /* background-color: rgb(100, 80, 133); */
}
.nav_name:hover {
    color: #f38181;
}
.menu_link {
    text-decoration: none;
    color: #95e1d3;
}
.menu_link::after {
    content: "";
    display: block;
    height: 6px;
    width: 0;
    border-bottom: 3px solid var(--accent);
    transition: all 0.2s linear;
}
.menu_link:hover {
    color: var(--accent);
}
.menu_link:hover::after {
    width: 100%;
}
/* header  end*/
/* main start */

.name_title {
}
.text_first {
    font-size: 24px;
    font-family: "Kaushan Script", cursive;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
}
.text_second {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}
.name_title::after {
    content: "";
    background-color: var(--accent);
    height: 3px;
    width: 60px;
    display: block;
    margin: 42px auto;
}
.column_4 {
    width: calc(var(--col) * 4);
}
.list_service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 calc(var(--gap) / 2);
    /* background-color: rgb(136, 80, 127); */
}
.name_service {
    display: flex;
    padding: 20px;

    /* background-color: rgb(101, 84, 179); */
}
.icon_wrp {
    width: var(--col);
    text-align: center;
    /* flex-basis: var(--col); */
    flex-shrink: 0;
    /* background-color: rgb(94, 71, 88); */
}
.icon_alarm {
}
.page {
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--column) * 3);
}
.name_page {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 20px;

    /* background-color: rgb(95, 182, 128); */
}
.text_page {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.6;

    /* background-color: rgb(159, 173, 107); */
}
.line_up {
  margin-top: 80px;
}
