* {
    margin: 0;
    padding: 0;
}
:root {
    --accent: #f38181;
    --col: 80px;
    --gap: 20px;
    --column: calc(var(--col) + var(--gap));
}

.container {
    width: 1200px;
    margin: auto;
}
/* header   start */
.wrapper {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: baseline;
    align-items: flex-end;
    margin-bottom: 128px;
}
.logo {
    display: flex;
    width: 710px;
    justify-content: space-between;
    align-items: center;
}
.logo-img {
    width: 86px;
    height: 23px;
    cursor: pointer;
}
.nav {
    display: flex;
    width: 490px;
    list-style: none;
    justify-content: space-between;
    cursor: pointer;
}
.nav_name {
    height: 14px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
}
.nav_name:hover {
    color: #f38181;
}
.menu_link {
    text-decoration: none;
    color: #95e1d3;
}
.menu_link::after {
    content: "";
    display: block;
    height: 6px;
    width: 0;
    border-bottom: 3px solid var(--accent);
    transition: all 0.2s linear;
}
.menu_link:hover {
    color: var(--accent);
}
.menu_link:hover::after {
    width: 100%;
}
.text_first {
    font-size: 24px;
    font-family: "Kaushan Script", cursive;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
}
.text_second {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-top: 20px;
}
.name_title::after {
    content: "";
    background-color: var(--accent);
    height: 3px;
    width: 60px;
    display: block;
    margin: 42px auto;
}
.column_4 {
    width: calc(var(--col) * 4);
}
.list_service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 calc(var(--gap) / 2);
}
.name_service {
    display: flex;
    padding: 20px;
}
.icon_wrp {
    width: var(--col);
    text-align: center;
    flex-shrink: 0;
}
.page {
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--column) * 3);
}
.name_page {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 20px;
}
.text_page {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.6;
}
.line_up {
    width: 100%;
    margin-top: 80px;
}
.column_10 {
    width: calc(var(--column) * 10);
    margin: auto;
    text-align: center;
    padding-bottom: 95px;
}
.text_spec {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.6;
}
.cards {
    display: flex;
    width: 100%;
    height: 470px;
    justify-content: space-between;
}
.card {
    position: relative;
    display: flex;
    width: 380px;
    height: 470px;
    flex-direction: column;
    align-items: center;
    background-color: #95e1d3;
}
.card_img:hover {
    transform: translate(-10px, -10px);
}
.card_img {
    width: 380px;
    height: 470px;
}
.card_modal {
    position: absolute;
    background-image: -moz-linear-gradient(
        90deg,
        rgb(252, 227, 138) 0%,
        rgb(243, 129, 129) 100%
    );
    background-image: -webkit-linear-gradient(
        90deg,
        rgb(252, 227, 138) 0%,
        rgb(243, 129, 129) 100%
    );
    background-image: -ms-linear-gradient(
        90deg,
        rgb(252, 227, 138) 0%,
        rgb(243, 129, 129) 100%
    );
    opacity: 0;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
}
.card_img:hover .card_modal {
    opacity: 0.5;
}
.icon_btn {
    background: transparent;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background-color: #fce38a;
    border: none;
    opacity: 0;
}
.card:hover .icon_btn {
    opacity: 1;
}
.icon {
    cursor: pointer;
}
.icon_btn:hover {
    background-color: #95e1d3;
}
.card_icon_wrp {
    display: flex;
    position: absolute;
    top: 207px;
    left: 78px;
    border: none;
    z-index: 15;
}
.card:hover .card_icon_wrp {
    opacity: 1;
}

.card_name {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding-top: 30px;
}
.card_prof {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
    text-align: center;
    padding-top: 15px;
}

/* footer */

footer {
    /* min-height: 64px; */
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    padding: 10px 0;
    box-sizing: padding-box;
    margin-top: 180px;
}

.copyright {
    vertical-align: middle;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #333;
}

.accent {
    color: #f38181;
}

form {
    font-size: 0;
    vertical-align: middle;
}

input {
    font-size: 16px;
    border: none;
    box-shadow: none;
    vertical-align: middle;
}

input[type="email"] {
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    padding-left: 1rem;
}

input[type="submit"] {
    width: 152px;
    height: 40px;
    background: var(--main);
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: bold;
}

input::placeholder {
    color: #e7e7e7;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 15px;
}
