.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -webkit-linear-gradient(top, white, black);
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -webkit-linear-gradient(top, white, black);
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
* {
    margin: 0;
    padding: 0;
}
:root {
    --accent: #f38181;
    --gccent: #95e1d3;
    --white: #fff;
    --yellow: rgb(252, 227, 138);
    --col: 80px;
    --gap: 20px;
    --column: calc(var(--col)+var(--gap));}
.container {
    width: 100%;
    margin: auto;
}
.container__low {
    width: 1200px;
    margin: auto;
}
/* header   start */
.menu__wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.logo__wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}
.logo_link {
    cursor: pointer;
}
.nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav__name {
    font-size: 14px;
    line-height: 1.2;
}
.menu__link {
    text-decoration: none;
}
.name__title {
    text-align: center;
}
.icon__link {
    background-color: var(--accent);
}
.name__title::after {
    content: "";
    background-color: var(--accent);
    height: 3px;
    width: 60px;
    display: block;
    margin: 42px auto;
}
.text__ground {
    font-size: 72px;
    line-height: 1.2;
}
.text__big {
    font-size: 150px;
    line-height: 0.933;
}
.btn_more {
    display: block;
}
.text__first {
    font-size: 24px;
    line-height: 1.2;
}
.text__second {
    font-size: 30px;
    line-height: 1.2;
}

.list__service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* section */
.name__service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.column__four {
    width: calc(var(--col)*4);
}
.icon__wrp {
    width: var(--col);
}

.page__wrp {
    width: calc(var(--column)*3);
}

.page__name {
    font-size: 14px;
    line-height: 1.2;
}

.page__text {
    font-size: 15px;
    line-height: 1.6;
}

.line__up {
    width: 100%;
}

.nametwo__title {
    text-align: center;
}
.nametwo__title::after {
    content: "";
    background-color: var(--accent);
    height: 3px;
    width: 60px;
    display: block;
    margin: 42px auto;
}
.text__firtwo {
    font-size: 24px;
    line-height: 1.2;
}

.text__sectwo {
    font-size: 30px;
    line-height: 1.2;
}

.column_ten {
    width: calc(var(--column)*10);
}

.text_spec {
    font-size: 15px;
    line-height: 1.6;
}

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.card__img:hover {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
}
.card__img:hover .card__modal--psition {
    opacity: 0.5;
}
.card__modal {
    position: absolute;
}
.cardIcon__wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.card:hover .cardIcon__wrp {
    opacity: 1;
}
.icon__btn {
    width: 55px;
    height: 55px;
}
.card:hover .icon__btn {
    opacity: 1;
}
.icon {
    cursor: pointer;
}
.icon__btn:hover {
    background-color: #f38181;
}
.icon__btn:hover #facebookone,
.icon__btn:hover #twitterone,
.icon__btn:hover #instagramone,
.icon__btn:hover #pinterestone,
.icon__btn:hover #facebooktwo,
.icon__btn:hover #twittertwo,
.icon__btn:hover #instagramtwo,
.icon__btn:hover #pinteresttwo,
.icon__btn:hover #facebookthree,
.icon__btn:hover #twitterthree,
.icon__btn:hover #instagramthree,
.icon__btn:hover #pinterestthree {
    fill: #fff;
}
.card__name {
    font-size: 14px;
    line-height: 1.2;
}

.card__prof {
    font-size: 15px;
    line-height: 1.6;
}

/* footer */

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.copyright {
    font-size: 14px;
}

form {
    font-size: 0;
}

input {
    font-size: 16px;
}