* {
    margin: 0;
    padding: 0;
}

.main {
    font-size: 0;
}

.wrapper {
    margin: auto;
    width: 1170px;
    padding-top: 43px;
    font-size: 0;
    height: auto;
}

.list {
    list-style: none;
}
.list_mart {
    display: inline-block;
    width: auto;
}

.list_item {
    display: inline-block;
    width: 101.5px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb(26, 188, 156);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.786;
    text-align: center;
}

.list_item_Mart {
    margin-left: 30px;
    margin-right: 300px;
    display: block;
    width: 200px;
    font-size: 30px;
    font-family: "Myriad Pro";
    text-transform: uppercase;
    line-height: 1.067;
}

.list_item_Mart::first-letter {
    color: rgb(26, 188, 156);
}

.list_item_centr {
    font-size: 48px;
    font-family: "Myriad Pro";
    color: rgb(85, 82, 82);
    text-transform: uppercase;
    line-height: 0.667;
    text-align: center;
    padding: 68px 0px 83px 0px;
}

.list_item_centr::after {
    content: "";
    background-color: rgb(26, 188, 156);
    height: 7px;
    width: 164px;
    display: block;
    margin: 30px auto;
}

.list_link {
    text-decoration: none;
    color: #0f0101;
}

.card {
    display: inline-block;
    width: 255px;
    height: 322px;
    padding: 0px 15px 30px 15px;
    cursor: pointer;
    /* line-height: 0; */
}

.card_img_main {
    width: 255px;
    height: 282px;
}

.card_img_fotter {
    width: 347px;
    height: 261px;
}

.card_centr {
    display: inline-block;
    text-align: center;
}

.card_button::after {
    content: "";
    background-color: rgb(26, 188, 156);
    height: 3px;
    width: 136px;
    display: block;
    margin: 16px 0px 29px 0px;
}

.card_button_price {
    float: right;
    background: #8c8c8c;
    padding: 0 12px;
    transition-duration: 0.3s;
}

.footer_all {
    text-align: center;
}

.card_footer {
    display: inline-block;
    width: 347px;
    padding: 0px 15px 0px 15px;
}

.card_content_footer {
    text-align: left;
}


.text {
    display: block;
    width: 350px;
    padding: 14px 0px 0px 0px;
    font-size: 18px;
    font-family: "Myriad Pro";
    color: rgb(85, 82, 82);
    line-height: 1.444;
}

.text_name_card {
    display: inline-block;
    background-color: #423434;
    width: 201px;
    height: 40px;
    font-size: 18px;
    /* overflow: hidden; */

}

.text_price {
    display: inline-block;
    background-color: #813030;
    width: 54px;
    height: 40px;
    font-size: 18px;
}

.text_second {
    display: block;
    width: 350px;
    min-height: 62px;
    max-height: 300px;
    padding: 0px 0px 14px 0px;
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb(85, 82, 82);
    line-height: 1.857;
}

.button_box {
    cursor: pointer;
    padding: 20px 39px 16px 40px;
    border-radius: 3px;
    background-color: rgb(78, 198, 171);
    font-size: 16px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    line-height: 1.625;
    text-align: center;
}
