.card {
  display: flex;

  &__img:hover {
    transform: translate(-10px, -10px);
  }

  &__modal {
    position: absolute;

    &--psition {
      background-image: -webkit-linear-gradient(
        90deg,
        rgb(252, 227, 138) 0%,
        rgb(243, 129, 129) 100%
      );
      background-image: -ms-linear-gradient(
        90deg,
        rgb(252, 227, 138) 0%,
        rgb(243, 129, 129) 100%
      );
      opacity: 0;
      top: 0;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 10;
      width: 100%;
      height: 470px;
    }
  }

  &__img:hover .card__modal--position {
    opacity: 0.5;
  }

  &__icon__wrp {
    display: flex;

    &--position {
      position: absolute;
      top: 207px;
      left: 78px;
      border: none;
      z-index: 15;
    }
  }

  &__view {
    width: 100%;
    height: 470px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &__view {
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #95e1d3;
    width: 380px;
    height: 470px;
  }

  &__name {
    font-size: 14px;
    line-height: 1.2;

    &--font {
      @extend %Montserrat;
      color: rgb(51, 51, 51);
      text-transform: uppercase;
      text-align: center;
      padding-top: 30px;
    }
  }

  &__prof {
    font-size: 15px;
    line-height: 1.6;

    &--font {
      @extend %Roboto;
      color: rgb(153, 153, 153);
      font-style: italic;
      text-align: center;
      padding-top: 15px;
    }
  }
}

.card:hover .card_icon__wrp {
  opacity: 1;
}

.card:hover .icon__btn {
  opacity: 1;
}
