.main {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-rows: [header] 300px [body] auto;
    grid-template-columns: [left-gutter] 1fr [wrapper] 12fr [right-gutter] 1fr;

    background-color: rgb(143, 143, 82);
}

.wrapper {
  grid-column: wrapper;
  display: grid;
  grid-template-columns: [sidebar] 1fr [content] 2fr;

  background-color: cornflowerblue;
}

.header {
    grid-row: header;
    grid-column: sidebar / right-gutter;

    background-color: blue;
}

.sidebar {
    grid-row: body;
    grid-column: sidebar;
    
    background-color: blueviolet;
}

.content {
    grid-row: body;
    grid-column: content;
    display: grid;
    grid-template-columns: [left-gutter] 1fr [article] 4fr [info] 2fr [right-gutter] 1fr;
    grid-column-gap: 2rem;

    background-color: brown;
}

.article {
  grid-column: article;

  background-color: rgb(155, 40, 130);
}

.info {
  grid-column: info;

  background-color: chartreuse;
}