* {
    margin: 0;
    padding: 0;
}
.container {
    margin: auto;
}

.container_header {
    margin: auto;
    width: 940px;

}
.wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
.logo {
    padding-left: 5px;
}
.logo_name {
    cursor: pointer;
}
.menu {
    display: flex;
}
.menu_name {
    padding-left: 40px;
    list-style: none;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.2;
}
.menu_link {
    text-decoration: none;
    color: #222222;
    cursor: pointer;
}
.menu_link:hover {
    color: #fed136;
}
/* main */
.box {
    text-align: center;
    padding-top: 125px;
    padding-bottom: 15px;
}
.box_two {
    text-align: center;
    width: 1400px;
    padding-top: 110px;
    padding-bottom: 63px;
}
.title {
    font-size: 40px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    line-height: 1.875;
}
.text {
    font-size: 16px;
    color: rgb(119, 119, 119);
    line-height: 1.2;
}
.cards {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    padding-bottom: 120px;

}
.card {
    text-align: center;
    width: 280px;
}
.title_card {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 4.167;
}
.text_card {
    font-size: 14px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
}
/* footer */

footer {
    width: 100%;
    background-color: #222222;
}
.container_foo {
    position: relative;
    width: 1400px;
    min-height: 678px;
    margin: auto;
    text-align: center;
    z-index: 10;
}
.fon {
    display: flex;
    flex-direction: row-reverse;
}
.fon_img {
    position: absolute;
    width: 614px;
    height: 537px;
    margin-top: 120px;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    z-index: 0;
}
.box_cell {
    position: absolute;
    top: 255px;
    left: 210px;
}
.title_foo {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.8;
    margin-bottom: 22px;
}
.box_cell {
    display: flex;
    justify-content: center;
}
.cell {
    display: flex;
    flex-direction: column;
}
.cell_plac {
    width: 455px;
    height: 50px;
    border-radius: 5px;
    margin: 15px;
    color: #bbbbbb;
    text-transform: uppercase;
    line-height: 1.2;
}
.cell_text {
    width: 455px;
    height: 220px;
    border-radius: 5px;
    margin: 15px;
    background-color: #ffffff;
}
.cell_message {
    margin: 20px;
    border: none;
    color: #bbbbbb;
    text-transform: uppercase;
    line-height: 1.2;
}
.btn {
    position: absolute;
    top: 497px;
    left: 577px;
    width: 240px;
    height: 65px;
    border-radius: 5px;
    border: 0;
    padding: 0;
    margin-top: 25px;
    background-color: #fed136;
}
.btn:hover {
    background-color: #ffae00;
}

.montserrat_regular {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
}
.montserrat_700 {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: bold;
}
.roboto_slab_regular {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
}
.droid_300italic {
    font-family: "DroidSerif";
    font-style: italic;
    font-weight: 300;
}

input[type="email"]:focus:invalid,
textarea[name="body"]:focus:invalid,
input[name="name"]:focus:invalid {
    outline-color: red;
    transition: outline-color 5s;
}

input[type="email"]:focus:valid,
textarea[name="body"]:focus:valid,
input[name="name"]:focus:valid {
    outline-color: green;
    transition: outline-color .4s;
}
