* {
    margin: 0;
    padding: 0;
}
.container {
    margin: auto;
    width: 100%;
}

.container_header {
    margin: auto;
    max-width: 940px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
.logo {
    padding-left: 5px;
}
.logo_name {
    cursor: pointer;
}
.menu {
    display: flex;
}
.menu_name {
    padding-left: 40px;
    list-style: none;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.2;
}
.menu_link {
    text-decoration: none;
    color: #222222;
    cursor: pointer;
}
.menu_link:hover {
    color: #fed136;
}
/* main */
.box {
    text-align: center;
    padding-top: 125px;
    padding-bottom: 15px;
}
.box_two {
    text-align: center;
    padding-bottom: 63px;
}
.title {
    font-size: 40px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    line-height: 1.875;
}
.text {
    font-size: 16px;
    color: rgb(119, 119, 119);
    line-height: 1.2;
}
.cards {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    padding-bottom: 120px;
}
.card {
    text-align: center;
    width: 280px;
}
.title_card {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 4.167;
}
.text_card {
    font-size: 14px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
}
/* footer */

footer {
    width: 100%;
    height: 670px;
    background-color: #222222;
}
.container_footer {
    margin: auto;
    max-width: 1400px;
    text-align: center;
}
.bg_img {
    padding-top: 110px;
    min-height: 658px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../img/map.png);
}
.title_footer {
    text-transform: uppercase;
    line-height: 0.5;
    font-size: 40px;
    color: #ffffff;
}
.text_footer {
    font-size: 16px;
    color: rgb(119, 119, 119);
    line-height: 1.2;
    padding-top: 25px;
}
.box_cel_tex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cell {
    display: flex;
    flex-direction: column;
}
.cell_lab {
    width: 455px;
    height: 52px;
    color: rgb(187, 187, 187);
    text-transform: uppercase;
    line-height: 1.2;
    border-radius: 5px;
    margin: 15px;
}
.cell_ter {
    width: 455px;
    height: 215px;
    margin: 15px;
    padding: 12px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    text-transform: uppercase;
    line-height: 1.2;
    color: rgb(187, 187, 187);
    background-color: #f8f8f8;
}

.btn {
    top: 497px;
    left: 577px;
    width: 240px;
    height: 65px;
    border-radius: 5px;
    border: 0;
    padding: 0;
    margin-top: 25px;
    text-transform: uppercase;
    line-height: 1.2;
    color: #ffffff;
    background-color: #fed136;
}
.btn:hover {
    background-color: #ffae00;
}

/* style_text */
.montserrat_regular {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
}
.montserrat_700 {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: bold;
}
.roboto_slab_regular {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
}
.droid_300italic {
    font-family: "DroidSerif";
    font-style: italic;
    font-weight: 300;
}

input[type="email"]:focus:invalid,
textarea[name="textarea"]:focus:invalid,
input[name="name"]:focus:invalid
input[name="password"]:focus:invalid {
  outline-color: red;
  transition: outline-color 5s;
}

input[type="email"]:focus:valid,
textarea[name="textarea"]:focus:valid,
input[name="name"]:focus:valid,
input[name="password"]:focus:valid {
  outline-color: green;
  transition: outline-color .4s;
}

.cell_lab,
.cell_ter {
  box-sizing: border-box;
  display: block;
  outline: 4px solid transparent;
  transition: outline-color 0.1s;
}
  