* {
    margin: 0;
    padding: 0;
}
.container {
    margin: auto;
    width: 1400px;
}

.container_header {
    margin: auto;
    width: 940px;
    background-color: rgb(206, 189, 202);
}
.wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;

    background-color: rgb(144, 165, 167);
}
.logo {
    padding-left: 5px;
}
.logo_name {
    cursor: pointer;
}
.menu {
    display: flex;
}
.menu_name {
    padding-left: 40px;
    list-style: none;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.2;
}
.menu_link {
    text-decoration: none;
    color: #222222;
    cursor: pointer;
}
.menu_link:hover {
    color: #fed136;
}
/* main */
.box {
    text-align: center;
    padding-top: 125px;
    padding-bottom: 15px;
}
.title {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.875;
}
.text {
    font-size: 16px;
    font-family: "DroidSerif";
    color: rgb(119, 119, 119);
    font-style: italic;
    line-height: 1.2;
}
.cards {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    padding-bottom: 120px;
    /* background-color: rgb(138, 146, 101); */
}
.card {
    text-align: center;
    width: 280px;
}
.title_card {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 4.167;
}
.text_card {
    font-size: 14px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
}
/* footer */
.fond_img {
    min-height: 676px;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container_foo {
    width: 100%;
    height: 676px;
}
.title_foo {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.875;
}