.text {
  &__ground {
    font-size: 72px;
    line-height: 1.2;

    &--item {
      margin-top: 170px;
      @extend %Kaushan;
      color: rgb(255, 255, 255);
      text-align: center;
    }
  }

  &__big {
    font-size: 150px;
    line-height: 0.933;

    &--item {
      @include Montser700(700);
      margin-top: 60px;
      margin-bottom: 126px;
      color: $white;
      text-align: center;
    }
  }
}

