*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    background-image: url("../img/photo_friends_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 540px;
}
.top_btn {
    display: inline-block;
    padding: 7px;
    width: 90px;
    height: 36px;
    line-height: 1.2;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    border: 2px solid transparent;
    padding: 6px;
}
.top_btn:hover {
    padding: 6px;
    border: 2px solid #fff;
}
.box_btn_find {
    margin: auto;
    width: 225px;
    height: 40px;
    border-radius: 20px;
    line-height: 1.2;
    margin-top: 34px;
    padding: 12px 9px 9px 9px;
    background-color: #ff4e50;
}

.box_btn_find:hover {
    border: 2px solid #fff;
    background: transparent;
}
.btn_other {
    font-size: 14px;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    line-height: 1.2;
    margin: 15px;
    margin: auto;
    padding: 10px 9px 9px 9px;
    cursor: pointer;
    border: none;
    color: #ff4e50;
    background-color: #fff;
    border: 2px solid #ff4e50;
}
.btn_other:hover {
    box-shadow: 0 0 3px #ff4e50;
}

/* cards */
.cards {
    margin-bottom: 130px;
}
.card {
    position: relative;
    text-align: center;
}
.img {
    margin: auto;
    width: 220px;
    height: 122px;
}
.img_person {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    cursor: pointer;
}
.icon {
    position: absolute;
    top: 82px;
    left: 131px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 6px;
    border: 4.5px solid rgb(255, 255, 255);
}
.bg_tv {
    background-color: #ff4e50;
}
.bg_coffe {
    background-color: #1cd7ad;
}
.bg_chimic {
    background-color: #ffa507;
}
.bg_telegram {
    background-color: #4e73db;
}
.btn_other {
    font-size: 14px;
    width: 190px;
    height: 40px;
    border-radius: 20px;
    line-height: 1.2;
    margin-bottom: 40px;
    padding: 10px 9px 9px 9px;
    cursor: pointer;
    border: none;
    color: #ff4e50;
    background-color: #fff;
    border: 2px solid #ff4e50;
}
.btn_other:hover {
    box-shadow: 0 0 3px #ff4e50;
}

@media (min-width: 768px) {
    .container-fluid {
        background-image: url("../img/photo_friends_tablet.png");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 700px;
    }
    .top_btn {
        padding: 7px;
        width: 90px;
        height: 36px;
        line-height: 1.2;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        border: 2px solid transparent;
        padding: 6px;
    }
    .top_btn:hover {
        padding: 6px;
        border: 2px solid #fff;
    }
    .box_btn_find {
        margin: auto;
        width: 225px;
        height: 40px;
        border-radius: 20px;
        line-height: 1.2;
        margin-top: 34px;
        padding: 12px 9px 9px 9px;
        background-color: #ff4e50;
    }
    .box_btn_find:hover {
        padding: 11px;
        line-height: 1.2;
        border: 2px solid #fff;
    }
    .btn_other {
        font-size: 14px;
        text-align: center;
        height: 40px;
        border-radius: 20px;
        line-height: 1.2;
        margin: 15px;
        margin: auto;
        padding: 10px 9px 9px 9px;
        cursor: pointer;
        border: none;
        color: #ff4e50;
        background-color: #fff;
        border: 2px solid #ff4e50;
    }
    .btn_other:hover {
        box-shadow: 0 0 3px #ff4e50;
    }
    /* cards */
    .card {
        position: relative;
        text-align: center;
    }
    .img {
        height: 122px;
    }
    .img_person {
        width: 122px;
        height: 122px;
        border-radius: 50%;
        cursor: pointer;
    }
    .icon {
        position: absolute;
        top: 82px;
        left: 131px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 4.5px solid rgb(255, 255, 255);
    }
    .bg_tv {
        background-color: #ff4e50;
    }
    .bg_coffe {
        background-color: #1cd7ad;
    }
    .bg_chimic {
        background-color: #ffa507;
    }
    .bg_telegram {
        background-color: #4e73db;
    }
}

@media (min-width: 960px) {
    .container-fluid {
        background-image: url("../img/photo_friends.png");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 700px;
    }

    .top_btn {
        padding: 7px;
        width: 90px;
        height: 36px;
        line-height: 1.2;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        border: 2px solid transparent;
        padding: 6px;
    }
    .top_btn:hover {
        padding: 6px;
        border: 2px solid #fff;
    }
    .box_btn_find {
        margin: auto;
        width: 225px;
        height: 40px;
        border-radius: 20px;
        line-height: 1.2;
        margin-top: 34px;
        padding: 12px 9px 9px 9px;
        background-color: #ff4e50;
    }
    .box_btn_find:hover {
        padding: 11px;
        line-height: 1.2;
        border: 2px solid #fff;
    }

    .btn_other {
        font-size: 14px;
        text-align: center;
        height: 40px;
        border-radius: 20px;
        line-height: 1.2;
        margin: 15px;
        margin: auto;
        padding: 10px 9px 9px 9px;
        cursor: pointer;
        border: none;
        color: #ff4e50;
        background-color: #fff;
        border: 2px solid #ff4e50;
    }
    .btn_other:hover {
        box-shadow: 0 0 3px #ff4e50;
    }
    /* cards */
    .card {
        position: relative;
        text-align: center;
    }
    .img {
        height: 122px;
    }
    .img_person {
        width: 122px;
        height: 122px;
        border-radius: 50%;
        cursor: pointer;
    }
    .icon {
        position: absolute;
        top: 82px;
        left: 131px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 4.5px solid rgb(255, 255, 255);
    }
    .icon_status {
        margin-bottom: 10px;
        margin-left: 2px;
    }
    .bg_tv {
        background-color: #ff4e50;
    }
    .bg_coffe {
        background-color: #1cd7ad;
    }
    .bg_chimic {
        background-color: #ffa507;
    }
    .bg_telegram {
        background-color: #4e73db;
    }
}
