*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
}
.wrapper {
    margin: auto;
    text-align: center;
    width: 100%;
}
.wrapper_card {
    margin: auto;
    text-align: center;
    width: 320px;
}
.container {
    margin: auto;
    max-width: 320px;
}
.top_img {
    background-image: url(../img/photo_friends_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
}
.content {
    display: inline-block;
}
.logo {
    height: 36px;
}
.logo_text {
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 20px;
    color: #fff;
}
.box_btn {
    display: inline-block;
    width: 280px;
    align-items: center;
    margin: 20px;
    margin-bottom: 90px;
}
.top_btn {
    display: inline-block;
    padding: 7px;
    width: 90px;
    height: 36px;
    line-height: 1.2;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    border: 2px solid transparent;
    padding: 6px;
}
.top_btn:hover {
    padding: 6px;
    border: 2px solid #fff;
}
.tit {
    display: flex;
    flex-direction: column;
}
.tit_name {
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    margin-top: 40px;
}
.tit_text {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin: 20px;
}

.box_btn_find {
    margin: auto;
    width: 225px;
    height: 40px;
    border-radius: 20px;
    line-height: 1.2;
    padding: 12px 9px 9px 9px;
    background-color: #ff4e50;
}
.box_btn_find:hover {
    padding: 11px;
    line-height: 1.2;
    border: 2px solid #fff;
}
.text_btn_find {
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
}
.tit_partner {
    font-size: 22px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    margin-top: 70px;
    margin-bottom: 15px;
}

/* cards */
.twain_card {
    display: inline-block;
}
.card {
    position: relative;
    width: 220px;
    height: 230px;
    margin-bottom: 15px;
}
.img {
    width: 220px;
    height: 122px;
}
.img_person {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    cursor: pointer;
}
.icon {
    position: absolute;
    top: 82px;
    left: 131px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 6px;
    border: 4.5px solid rgb(255, 255, 255);
}
.bg_tv {
    background-color: #ff4e50;
}
.bg_coffe {
    background-color: #1cd7ad;
}
.bg_chimic {
    background-color: #ffa507;
}
.bg_telegram {
    background-color: #4e73db;
}
.guy_name {
    font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    margin: 15px;
}
.portret_text {
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: center;
}

.btn_other {
    font-size: 14px;
    width: 280px;
    height: 40px;
    border-radius: 20px;
    line-height: 1.2;
    margin: 15px;
    margin-top: -30px;
    margin-bottom: 30px;
    padding: 10px 9px 9px 9px;
    cursor: pointer;
    border: none;
    color: #ff4e50;
    background-color: #fff;
    border: 2px solid #ff4e50;
}
.btn_other:hover {
    box-shadow: 0 0 3px #ff4e50;
}

/* style_text */
.montserrat_regular {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
}
.montserrat_700 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
}
.roboto_300 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
}
/* test 740px */

@media (min-width: 560px) and (max-width: 940px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    * a {
        text-decoration: none;
    }
    .wrapper {
        margin: auto;
        text-align: center;
        width: 100%;
    }
    .container {
        margin: auto;
        max-width: 768px;
    }
    .top_img {
        background-image: url(../img/photo_friends_tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 700px;
    }

    .content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 90px;
    }
    .content_card {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }
    .logo {
        height: 36px;
        margin: 20px;
    }
    .logo_text {
        padding: 7px;
        text-transform: uppercase;
        line-height: 1.2;
        font-size: 20px;
        color: #fff;
    }
    .box_btn {
        display: flex;
        width: 180px;
    }
    .top_btn {
        padding: 7px;
        width: 90px;
        height: 36px;
        line-height: 1.2;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        border: 2px solid transparent;
        padding: 6px;
    }
    .top_btn:hover {
        padding: 6px;
        border: 2px solid #fff;
    }
    .tit {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .tit_name {
        font-size: 52px;
        color: #fff;
        line-height: 1.2;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .tit_text {
        font-size: 24px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        line-height: 1.2;
    }
    .box_btn_find {
        margin: auto;
        width: 225px;
        height: 40px;
        border-radius: 20px;
        line-height: 1.2;
        margin-top: 34px;
        padding: 12px 9px 9px 9px;
        background-color: #ff4e50;
    }
    .box_btn_find:hover {
        padding: 11px;
        line-height: 1.2;
        border: 2px solid #fff;
    }
    .text_btn_find {
        font-size: 14px;
        line-height: 1.2;
        color: #fff;
    }
    .tit_partner {
        font-size: 22px;
        color: rgb(51, 51, 51);
        line-height: 1.2;
        margin-top: 72px;
    }

    /* cards */
    .card {
        position: relative;
        width: 220px;
        height: 230px;
    }
    .img {
        width: 220px;
        height: 122px;
    }
    .img_person {
        width: 122px;
        height: 122px;
        border-radius: 50%;
        cursor: pointer;
    }
    .icon {
        position: absolute;
        top: 82px;
        left: 131px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 6px;
        border: 4.5px solid rgb(255, 255, 255);
    }
    .bg_tv {
        background-color: #ff4e50;
    }
    .bg_coffe {
        background-color: #1cd7ad;
    }
    .bg_chimic {
        background-color: #ffa507;
    }
    .bg_telegram {
        background-color: #4e73db;
    }
    .btn_other {
        font-size: 14px;
        width: 190px;
        height: 40px;
        border-radius: 20px;
        line-height: 1.2;
        margin-bottom: 40px;
        padding: 10px 9px 9px 9px;
        cursor: pointer;
        border: none;
        color: #ff4e50;
        background-color: #fff;
        border: 2px solid #ff4e50;
    }
    .btn_other:hover {
        box-shadow: 0 0 3px #ff4e50;
    }

    /* style_text */
    .montserrat_regular {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    .montserrat_700 {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
    }
    .roboto_300 {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
    }
}

/* test 900 */

@media (min-width: 940px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    * a {
        text-decoration: none;
    }
    .wrapper {
        margin: auto;
        text-align: center;
        width: 100%;
    }
    .container {
        max-width: 940px;
    }
    .top_img {
        background-image: url(../img/photo_friends.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        height: 700px;
    }
    .content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 90px;
    }
    .content_card {
        display: flex;
        justify-content: center;
        margin: auto;
        padding-top: 40px;
    }
    .twain_card {
        display: flex;
    }
    .logo {
        height: 36px;
        margin: 20px;
    }
    .logo_text {
        padding: 7px;
        text-transform: uppercase;
        line-height: 1.2;
        font-size: 20px;
        color: #fff;
    }
    .box_btn {
        display: flex;
        width: 180px;
    }
    .top_btn {
        padding: 7px;
        width: 90px;
        height: 36px;
        line-height: 1.2;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        border: 2px solid transparent;
        padding: 6px;
    }
    .top_btn:hover {
        padding: 6px;
        border: 2px solid #fff;
    }
    .tit {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .tit_name {
        font-size: 52px;
        color: #fff;
        line-height: 1.2;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .tit_text {
        font-size: 24px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        line-height: 1.2;
    }
    .box_btn_find {
        margin: auto;
        width: 225px;
        height: 40px;
        border-radius: 20px;
        line-height: 1.2;
        margin-top: 34px;
        padding: 12px 9px 9px 9px;
        background-color: #ff4e50;
    }
    .box_btn_find:hover {
        padding: 11px;
        line-height: 1.2;
        border: 2px solid #fff;
    }
    .text_btn_find {
        font-size: 14px;
        line-height: 1.2;
        color: #fff;
    }
    .tit_partner {
        font-size: 22px;
        color: rgb(51, 51, 51);
        line-height: 1.2;
        margin-top: 72px;
    }

    /* cards */
    .card {
        position: relative;
        width: 220px;
        height: 230px;
    }
    .img {
        width: 220px;
        height: 122px;
    }
    .img_person {
        width: 122px;
        height: 122px;
        border-radius: 50%;
        cursor: pointer;
    }
    .icon {
        position: absolute;
        top: 82px;
        left: 131px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 6px;
        border: 4.5px solid rgb(255, 255, 255);
    }
    .bg_tv {
        background-color: #ff4e50;
    }
    .bg_coffe {
        background-color: #1cd7ad;
    }
    .bg_chimic {
        background-color: #ffa507;
    }
    .bg_telegram {
        background-color: #4e73db;
    }
    .btn_other {
        font-size: 14px;
        width: 190px;
        height: 40px;
        border-radius: 20px;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 10px 9px 9px 9px;
        cursor: pointer;
        border: none;
        color: #ff4e50;
        background-color: #fff;
        border: 2px solid #ff4e50;
    }
    .btn_other:hover {
        box-shadow: 0 0 3px #ff4e50;
    }

    /* style_text */
    .montserrat_regular {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    .montserrat_700 {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
    }
    .roboto_300 {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
    }
}
