* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    display: grid;
    width: 100%;
    text-align: center;
}

.bg__map {
    background-image: url(/image/map_left.png);
}
.bg__shodem {
    background-image: url(/image/map_right.png);
}

/*  */
.navigate {
    display: grid;
    background-image: url(/image/BG_image.jpg);
    grid-template-columns: [grid__nav1] 2fr [grid__nav2] 4fr [grid__nav3] minmax(540px, auto);
    grid-template-rows: 1fr 113px;
    height: auto;
    /* grid-gap: 20px; */
}

.menu__nav {
    display: inline-block;
    padding-top: 43px;
    font-size: 14px;
}

.logo {
    display: block;
    padding-left: 60px;
    padding-top: 38px;
}

.disk {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid 3px #fff;
    margin-top: 30px;
}
.disk__nav {
    padding-top: 12px;
    padding-left: 2px;
}

/*  Grid NAV1 */

.grid__nav1 {
    height: auto;
    display: grid;
    grid-template-columns: [grid__left] 1fr;
    grid-template-rows: 144px [grid__leftRow] 1fr;
    /* grid-gap: 3px; */
    grid-auto-flow: row;
}
.grid__left {
    display: grid;
    grid-template-columns: 1fr;
    background-color: darksalmon;
    text-align: left;
    height: 144px;
}
.grid__leftRow {
    display: grid;
    grid-template-rows: [circul__one] 300px [circul__two] 160px 1fr;
    /* grid-row: 640px; */

    background-color: rgb(69, 121, 15);
}

.grid__leftRow--b {
    background-color: #fed45c;
}
.circul__one {
    padding-left: 130px;
    padding-top: 200px;
}
.circul__two {
    padding-left: 361px;
    padding-top: 88px;

    background-color: burlywood;
}

/* Grid END_NAV1 */

/* Grid NAV2 */

.grid__nav2 {
    height: auto;
    display: grid;
    grid-template-columns: [grid__middle] 2fr;
    grid-template-rows: 144px [grid__midBody] 1fr [grid__midCircul] 2fr;
    grid-auto-flow: row;
}
.grid__wrp {
    display: block;
    height: 144px;
}

.grid__disk {
    display: grid;
    grid-template-columns: [art__middle] 10fr;
    /* grid-gap: 5px; */
    grid-auto-flow: row;
}

.grid__midBody {
    display: grid;
    grid-template-rows: [textMid] 1fr [buttonMid] 1fr;
    background-color: rgb(55, 55, 228);
}
.grid__midCircul {

    background-color: darksalmon;
}
.art__middle {

    background-color: rgb(83, 168, 111);
}
.text__middle {

    padding-top: 150px;
}
.buttonMid {
    display: grid;
    grid-template-columns: [bmOne] 1fr [bmTwo] 1fr [bmThree] 1fr;
    padding-top: 15px;
    /* padding-left: 368px; */
}
.bmOne {
 background-color: aqua;
}
.bmTwo {

}
.bmThree {
background-color: cadetblue;
}
.button__pozition {
    display: block;
    border-radius: 30px;
    text-decoration: none;
    padding: 1em 1em;
    outline: none;
    height: 28px;
    width: 245px;

    background: linear-gradient(#fed45c, #e38916) #fed45c;
    transition: 0.2s;
}
.bmOne {
    background-color: aqua;
   }
   .bmTwo {
   
   }
   .bmThree {
   background-color: cadetblue;
   }

.button__middle:hover {
    background: linear-gradient(#f5ae00, #fed45c) #f5ae00;
}
.button__middle:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}

/* Grid END_NAV2 */

/* Grid NAV3 */

.grid__nav3 {
    height: auto;
    display: grid;
    grid-template-columns: [grid__right] 1fr;
    grid-template-rows: 144px [grid__rightRow] 1fr;
    /* grid-gap: 3px; */
    grid-auto-flow: row;
}

.grid__right {
    display: grid;
    grid-template-columns:
        [about] 1fr
        [products] 1fr
        [pricing] 1fr [contact] 1fr [news] 1fr
        [disk] minmax(83px, auto);
    height: 144px;
    background-color: rgb(162, 190, 104);
}

.grid__rightRow {
    display: grid;
    grid-template-rows: [circul__seven] 160px [circul__eight] 180px [circul__nine] 150px 1fr;

    background-color: rgb(97, 167, 23);
}
.circul__seven {
padding-left: 80px;
padding-top: 85px;

background-color: #f59500;
}
.circul__eight {
padding-top: 105px;
padding-left: 325px;

background-color: aquamarine;
}
.circul__nine {
padding-left: 185px;
padding-top: 65px;

background-color: darkgray;
}
/* Grid END_NAV3 */

.middle_gr--disk {
    height: 144px;
}

.circul {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(67, 185, 126);
}
