* {
    margin: 0;
    padding: 0;
}
main {
    background-color: #e9f0fd;
  }
.container {
    width: 1110px;
    margin: auto;
    margin-bottom: 14px;
    background-color: #ffffff;
}
.logo {
    display: inline-block;
    width: 110px;
    height: 44px;
    vertical-align: middle;
    padding: 20px 0 0 30px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    line-height: 1.067;
    cursor: pointer;
    color: #555252;
}
.first_L::first-letter {
    color: rgb(26, 188, 156);
}
.list_nav {
    display: inline-block;
    margin-left: 256px;
    text-align: right;
}
.title {
    display: inline-block;
    list-style: none;
    width: 99.9px;
    margin-left: 15px;
    text-align: right;
    vertical-align: middle;
    cursor: pointer;
}
.title_link {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.786;
    text-decoration: none;
    color: #0f0101;
}
.title_link:hover {
    color: #1abc9c;
}
.container_title {
    width: 1170px;
    margin: auto;
}
.slider_img {
    width: 100%;
    height: 602px;
}
.slider_wrp {
    width: 1110px;
    margin: auto;
    position: absolute;
    top: 78px;
    left: 0;
    bottom: 280px;
    right: 0;
    z-index: 10;
}

.slider_btn {
    background-color: rgb(78, 198, 171);
    width: 104px;
    height: 104px;
    position: absolute;
    top: 226px;
    opacity: 0.651;
    border: none;
    cursor: pointer;
}

.slider_btn_right {
    margin-right: 15px;
    right: 0px;
}
.slider_btn_left {
    margin-left: 15px;
    left: 0px;
}
.slider_btn:hover {
    background-color: #1abc9c;
    opacity: 1;
}
.slider_content {
    display: block;
    position: absolute;
    min-height: 75px;
    width: 800px;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
}
.slider_title {
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.367;
    text-align: left;
}
.slider_subtitle {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.367;
    text-align: left;
}
.arrow {
    display: inline-block;
    width: 23px;
    height: 23px;
    background: transparent;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
}
.arrow_right {
    transform: rotate(-45deg);
    margin-right: 15px;
}
.arrow_left {
    transform: rotate(135deg);
    margin-left: 15px;
}
.title_name {
    padding: 105px 0px 77px 0px;
    text-align: center;
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 0.667;
}
.title_name::after {
    content: "";
    background-color: #1abc9c;
    height: 7px;
    width: 164px;
    display: block;
    margin: 32px auto;
}
.cards {
    padding-top: 14px;
    text-align: center;
}
.card {
    position: relative;
    display: inline-block;
    width: 255px;
    margin: 0 15px 14px;
    cursor: pointer;
    height: 322px;
    background-color: rgb(56, 77, 134);

}
.card:hover .title_text {
    background: #1abc9c;
}
.card:hover .title_price {
    background: #7fd9c7;
}
.card_modal {
    position: absolute;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    top: 26px;
    right: 25px;
    bottom: 46px;
    left: 25px;
    transition-duration: 0.3s;
    z-index: 15;
}
.card:hover .card_modal {
    opacity: 0.5;
}
.card:hover .card_icon_wrp {
    opacity: 1;
}
.card:hover .icon_like_btn {
    opacity: 1;
}
.card_icon_wrp {
    position: absolute;
    opacity: 0;
    top: 16px;
    right: 15px;
    bottom: 16px;
    left: 15px;
    transition-duration: 0.3s;
    z-index: 22;
}
.box_pic_title {
    position: absolute;
    bottom: 0px;
    width: 255px;
    height: 40px;
}
.title_text {
    float: left;
    width: 201px;
    height: 40px;
    background-color: #323232;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    line-height: 2;
}
.title_price {
    float: right;
    width: 54px;
    height: 40px;
    background-color: #8c8c8c;
    font-weight: bold;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2;
}
.icon_btn {
    box-sizing: border-box;
    background: transparent;
    margin: 0 5px 12px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    cursor: pointer;
    vertical-align: top;
}
.icon_bag {
    vertical-align: middle;
}

.icon_btn_add {
    position: absolute;
    background: transparent;
    width: 166px;
    height: 50px;
    border: 1px solid #fff;
    cursor: pointer;
    top: 137px;
    left: 30px;
    vertical-align: middle;
}
.blk_text {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}
.icon_btn_like {
    position: absolute;
    top: 80px;
    left: 25px;
}
.icon_btn_like:hover {
    background-color: #1abc9c;
}
.icon_btn_link {
    position: absolute;
    top: 80px;
    left: 84px;
}
.icon_btn_link:hover {
    background-color: #1abc9c;
}

.icon_btn_clock {
    position: absolute;
    top: 80px;
    left: 141px;
}
.icon_btn_clock:hover {
    background-color: #1abc9c;
}

.icon_btn_add:hover {
    background-color: #323232;
}
.container_foo {
    width: 100%;
    height: 90px;
    margin-top: 100px;
    background-color: #323232;
}
.foo {
    display: block;
    width: 1170px;
    margin: auto;
    text-align: center;
}
.foo_text {
    display: inline-block;
    margin-top: 35px;
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    color: rgb(254, 254, 254);
}
.last_word {
    color: #1abc9c;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
